extends layout
block content
  header
    h1 Node / Express PWA.
    
  main
    div
      h1 About Us
      br
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque non libero magni eligendi? Doloremque amet harum est vel illum dolorum assumenda sequi necessitatibus blanditiis magni quos ipsum, architecto cupiditate neque.

      h2 Contact us
      p 08032130xxxx